---
import SiteLayout from "../layouts/SiteLayout.astro";
type project = {
  frontmatter: {
    title: string;
    description: string;
    image: {
      url: string;
    };
  };
  url: string;
};
const projects = Object.values(import.meta.glob("./projects/*.md", {eager: true})) as project[];
---

<SiteLayout title="Projects">
  <h1 class="text-xl font-semibold mb-4">My Projects</h1>
  <ul class="grid gap-4">
    {
      projects.map((project) => (
        <li class="border p-1 rounded-lg list-none border-b dark:border-zinc-700 hover:-translate-y-1 hover:shadow-md transition-all">
          <a class="flex flex-col gap-2" href={project.url}>
            <img
              class="h-36 object-top object-cover rounded-md p-0.5"
              src={project.frontmatter.image.url}
              alt={project.frontmatter.image.url}
            />
            <div class="flex flex-col px-2 pb-2">
              <h2 class="text-lg font-semibold">{project.frontmatter.title}</h2>
              <p class="text-sm w-fit">
                {project.frontmatter.description}
              </p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</SiteLayout>
